/* Hyejin Im, hyejin.im@tufts.edu
   Kam Chan Kang, Kamchan.Kang@tufts.edu*/

#Body {
  background-color: #EEEEEE;
}

#MyCanvas{
  width:100%;
  height:100%;
  style=border: "solid";
}

#button {
    background-color: #00C853;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    cursor:pointer;
}

#button:hover {
  background-color: #212121;
  /*#2E7D32*/
}

#button2 {
    background-color: #BDBDBD;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    cursor:pointer;
}

#button2:hover {
  background-color: #EF5350;
}
